body {
  background: #fafafa;
  color: #333333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.page-footer {
  background: #5f788a;
  color: #cbd5db;
  height: auto;
  width: 100%;
  margin-top: auto ;
}

.translate{
  width: 100%;
  padding: 22px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: xx-large;
  border: 1px solid #333333;
  border-radius: 5px;
}

.mt-5{
  margin-top: 115px !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
