{% extends "layout.html" %}

{% block header %}

<!-- MDBootstrap Datatables  -->
<link href="{{ url_for('static', filename='datatables2.min.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='datatables2.min.js') }}"></script>

<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{% endblock header %}

{% block content %}
<h1 class='mb-3'>Dictionary</h1>
<table id="dtBasicExample" class="table" width="100%">
    <thead>
        <tr>
            <th class="th-sm">Turkish</th>
            <th class="th-sm">English</th>
        </tr>
    </thead>
    <tbody>
        {% for index, row in data.iterrows() %}
            <tr>
                <td>{{row['turkish']}}</td>
                <td>{{row['english']}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}